.navbar {
  background-color: #f5f6fa;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #eeeeee;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app-name {
  color: #a59d9d;
  font-size: large;
}

.nav-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 4rem;
}

.user-name {
  color: #050101;
  font-size: small;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #f5f5f8;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #03fc94;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}
